<div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink='/'>AquaWeb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button">
            Menu
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink='/query' routerLinkActive="active">Query Data</a>
            <a class="dropdown-item" routerLink='/audit' routerLinkActive="active"> Audit Access</a>
            <a class="dropdown-item" routerLink='/system' routerLinkActive="active">System Status</a>
            <a class="dropdown-item" (click)='feedback()'>Give Feedback</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Main Container -->
  <div class='container-fluid'>
    <router-outlet></router-outlet>
  </div>

  <!-- Modals -->
  <ng-template #feedbackModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Feedback</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is some feedback.
      </div>
    </ng-template>

    <ng-template #supportModal>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Support</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This is some support.
        </div>
      </ng-template>

      <ng-template #aboutModal>
          <div class="modal-header">
            <h4 class="modal-title pull-left">About</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is an about page.
          </div>
        </ng-template>
</div>