<div class='row'>
    <div class='col-sm-10 offset-sm-1 mt-4'>
        <tabset>
            <tab heading="Query Playground" [removable]="false">
                <div class='row'>
                    <div class='col-md-12'>
                        <button class='btn btn-sm btn-success float-right m-2'>Run</button>
                        <textarea #editor></textarea>
                        <div draggable="true" (drag)="onDrag($event)" (dragstart)='onDragStart($event)' (dragend)="onDragEnd($event)"
                            class='grip'></div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12 pl-4 pr-4 mt-2'>
                        <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-bootstrap" [rowData]="rowData"
                            [columnDefs]="columnDefs">
                        </ag-grid-angular>
                        <div class='text-center m-2'>
                            <button type="button" class="btn btn-sm btn-success m-2">Export Excel</button>
                            <button type="button" class="btn btn-sm btn-danger m-2">Export PDF</button>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Canned Queries">
                <div class='row'>
                    <div class='col-md-6 pt-4'>
                        <div class="input-group pl-4">
                            <input name="nameField" placeholder="Search by name" [(ngModel)]="selected" [typeahead]="queries"
                                class="form-control" />
                            <button (click)='openQuery()' class='btn btn-primary ml-2'>Open</button>
                        </div>
                        <dl class="row pl-4 mt-4">
                            <dt class="col-sm-3">Author</dt>
                            <dd class="col-sm-9 text-right">William Taylor</dd>
                            <dt class="col-sm-3">Created</dt>
                            <dd class="col-sm-9 text-right">2018/01/01</dd>
                            <dt class="col-sm-3">Last Used</dt>
                            <dd class="col-sm-9 text-right">2018/01/01</dd>
                            <dt class="col-sm-12">Description</dt>
                            <dd class="col-sm-12 justified">
                                Quick six blind smart out burst. Perfectly on furniture dejection determine my
                                depending an to. Add short water court fat. Her bachelor honoured perceive securing but
                                desirous ham required. Questions deficient acuteness to engrossed as. Entirely led ten
                                humoured greatest and yourself. Besides ye country on observe. She continue appetite
                                endeavor she judgment interest the met. For she surrounded motionless fat resolution
                                may.
                            </dd>
                            <dt class="col-sm-12">Tags</dt>
                            <dd class="col-sm-12 justified">
                                15c33, Focus, Refdata, Hacker, Daily
                            </dd>
                        </dl>
                        <div class='mt-2'>
                            <div class='text-center'>
                                <button class='btn btn btn-primary m-2'>Update</button>
                                <button class='btn btn btn-success m-2'>Execute</button>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6' style='margin-left:-20px;'>
                        <textarea id='preview' #preview></textarea>
                    </div>
                </div>
            </tab>
            <tab heading="New Query">
                <div class='row'>
                    <div class='col-md-6 p-3 pl-4 pr-4'>
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1"><strong>Query Name</strong></label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Awesome Query">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"><strong>Query Author</strong></label>
                                <input type='text' class='form-control' placeholder="William Taylor">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"><strong>Query Tags</strong></label>
                                <input type='text' class='form-control' placeholder="15c33, Core, Daily">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"><strong>Query Description</strong></label>
                                <textarea style='resize: none;' rows='6' type='text' class='form-control' placeholder="Simple query example..."></textarea>
                            </div>
                            <div class='text-center'>
                                <button class='btn btn-primary'>Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class='col-md-6 p-3 pl-4 pr-4'>
                        <form style='margin-left:-20px;'>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1"><strong>Query Code</strong></label>
                                <div style='margin-left:-20px;'>
                                    <textarea id='query' #query></textarea>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
    <!--
    <div class='col-md-4'>
        <div id='textcard' class="card">
            <div class="card-body">
                <h5 class="card-title">Overview</h5><hr/>
                <div class="card-text">
                    <h6>Playground</h6>
                    <p class='small justified'>
                        The playground section allows you to execute on a adhock basis.
                        These queries are audited, and you should only use the playground
                        for quick small queries for your own benefit. Any reoccurring query
                        should be save as a 'Canned Query'.
                    </p>
                    <h6>Canned Queries</h6>
                    <p class='small justified'>
                        Reoccurring queries will be saved as 'Canned Queries' you can search
                        for them in the 'Canned Queries' tab. Once you have found the one you like,
                        you can load it into the playground.
                    </p>
                    <h6>New Query</h6>
                    <p class='small justified'>
                        If you have a query that will be run on a regular basis
                        open the 'New Query' tab to make it a 'Canned Query'. Once you have,
                        it will allow others to view it, including the developers who will be able
                        to help if the query has any issues.
                    </p>
                </div>
            </div>
        </div>
    </div>
    -->
</div>