<div class='row'>
    <div class='col-sm-10 offset-sm-1 mt-4'>
        <div class='row'>
            <div class='col-md-8'>
                <ag-grid-angular style="width: 100%; height: 658px;" class="ag-theme-bootstrap" [rowData]="rowData"
                    [columnDefs]="columnDefs">
                </ag-grid-angular>
            </div>
            <div class='col-md-4'>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Morning Reports</h5>
                        <p class="mb-3 text-muted"><smalL>These reports must finish by 9am.</smalL></p>
                        <div class="mb-3">
                            <progressbar [striped]="true" [animate]='true' [value]="100" type="success">Company Morning
                                Report - Success</progressbar>
                        </div>
                        <div class="mb-3">
                            <progressbar [striped]="true" [animate]='true' [value]="100" type="success">Business
                                Morning
                                Report - Success</progressbar>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Query Services</h5>
                        <p class="mb-3 text-muted"><smalL>These services enable your queries.</smalL></p>
                        <div class="mb-3">
                            <progressbar [striped]="true" [animate]='true' [value]="100" type="success">Service 1
                                - Up</progressbar>
                        </div>
                        <div class="mb-3">
                            <progressbar [striped]="true" [animate]='true' [value]="100" type="success">Service 2
                                - Up</progressbar>
                        </div>
                        <div class="mb-3">
                            <progressbar [striped]="true" [animate]='true' [value]="100" type="warning">Service 3
                                - Down</progressbar>
                        </div>
                        <div class="mb-3">
                            <progressbar [striped]="true" [animate]='true' [value]="100" type="warning">Service 4
                                - Down</progressbar>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Final Reports</h5>
                        <p class="mb-3 text-muted"><smalL>These final reports must be checked.</smalL></p>
                        <div class="mb-3">
                            <progressbar [striped]="true" [animate]='true' [value]="100" type="info">Company Final
                                Report -
                                Running</progressbar>
                        </div>
                        <div class="mb-3">
                            <progressbar [striped]="true" [animate]='true' [value]="100" type="danger">Business Final
                                Report
                                - Failed</progressbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>